@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.name{
	white-space: nowrap;
}

section > header{
	text-align: center;
}

[epub|type~="bibliography"] header{
	text-align: center;
}

footer{
	margin-top: 1em; text-align: right;
}

[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	margin: 3em;
	margin-top: 0;
	text-align: left;
	text-indent: 0;
	display: inline-block;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}

section[epub|type~="halftitlepage"] span[epub|type~="subtitle"]{
	display: block;
	font-size: .75em;
	font-weight: normal;
}

[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:verse"] + p{
	text-indent: 0;
}